
RewriteOptions inherit

RewriteEngine on
RewriteCond %{HTTP_HOST} ^radio\.netfoodcafe\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.radio\.netfoodcafe\.com$
RewriteRule ^/?$ "http\:\/\/netfoodcafe\.com\/radio\/index\.html" [R=301,L]
